@page { margin-left: 1.18in; margin-right: 1.18in; margin-top: 1.58in; margin-bottom: 0.91in }
		p { margin-bottom: 0.1in; direction: ltr; color: #00000a; line-height: 120%; text-align: center; orphans: 2; widows: 2 }
		p.western { font-family: "Arial", serif; font-size: 12pt; so-language: es-ES }
		p.cjk { font-family: "Calibri"; font-size: 12pt; so-language: ar-SA }
		p.ctl { font-family: "Arial"; font-size: 10pt; so-language: ar-SA }
		pre { direction: ltr; color: #00000a; text-align: left; orphans: 2; widows: 2 }
		pre.western { font-family: "DejaVu Sans Mono", serif; so-language: es-ES }
		pre.cjk { font-family: "DejaVu Sans Mono"; so-language: ar-SA }
		pre.ctl { font-family: "DejaVu Sans Mono"; so-language: ar-SA }