<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>CUMPLIDO</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='cumplido/template_cumplido.css') }}">
    <link rel="stylesheet" type="text/css" href="http://10.20.2.105/documentos_mensuales/cumplido/template_cumplido.css">
</head>

<body lang="es-ES" text="#00000a" dir="ltr">
    <p class="title">
        <br> EL JEFE DE LA OFICINA ASESORA DE SISTEMAS <br> DE LA UNIVERSIDAD DISTRITAL FRANCISCO JOSE DE CALDAS
        <br>
        <br> <br> CERTIFICA QUE:
        <br>
        <br>
    </p>

    <p class="paragraph">
        El {{usuario.rotulo}}.
        <uppb>{{usuario.nombre_completo}}</uppb>, identificado con la {{usuario.documento.tipo}} No.
        <currency>{{usuario.documento.numero}}</currency> de {{usuario.documento.ciudad}}, cumplió a satisfacción con el objeto establecido en el <b>Contrato de Prestación de Servicios No.</b> {{usuario.contrato.numero}} de {{usuario.contrato.fecha}} que tiene disponibilidad presupuestal No.
        {{usuario.contrato.cdp.numero}} del {{usuario.contrato.cdp.fecha}}, certificado de registro presupuestal No. {{usuario.contrato.rp.numero}} del {{usuario.contrato.rp.fecha}} y con el pago reglamentario de los aportes al sistema de seguridad social del
        <b>{{informe.dia_inicial}} al {{informe.dia_final}} de {{informe.mes}} de {{informe.vigencia}}.</b></p>

    <p class="paragraph">Con afectación a la fuente de financiamiento Distribución Punto Adicional CREE</p>
    <p class="paragraph">
        Que el valor causado por este concepto, es la suma de
        <uppb>{{valor_letras(usuario.valor_mensual.formato_moneda)}} pesos MCTE. (</uppb>
        <b>{{usuario.valor_mensual.formato_moneda}}</b>
        <b></b><b>)</b>, comprendido del {{informe.dia_inicial}} al {{informe.dia_final}} <span>de</span>
        <span>{{informe.mes}}</span> del año en curso.</p>
    <p class="paragraph">

    </p>
    <p class="paragraph"><b><uppb>Cuenta {{usuario.cuenta.tipo}}:</uppb> No. {{usuario.cuenta.numero}} del BANCO <uppb>{{usuario.cuenta.banco}}</uppb></b></p>

    <p class="paragraph">Se expide para el trámite de pago ante la <b>DIVISION DE RECURSOS FINANCIEROS </b>a los {{valor_letras(informe.dia_informe)}} ({{informe.dia_informe}}) días del mes de {{informe.mes}} de {{informe.vigencia}}.</p>

    <br/>
    <p class="subtitle">
        <uppb>{{jefe.nombre_completo}}</uppb><br> {{jefe.cargo}}
    </p>
    <br>
    <p class="paragraph">
        Nota: Yo,
        <uppb>{{usuario.nombre_completo}}</uppb>
        <b>,</b> autorizo a la Universidad Distrital hacer el abono de mis pagos a las cuentas bancarias relacionadas en este certificado. Bajo gravedad del juramento certifico que estoy realizando los aportes a seguridad social de conformidad con lo
        establecido por la Ley.
    </p>
    <br><br><br>

    <div class="firm">
        <p class="paragraph">
            <br> Firma del contratista
        </p>
    </div>





</body>

</html>