@page {
    margin-left: 1.18in;
    margin-right: 1.18in;
    margin-top: 0.91in;
    margin-bottom: 0.91in
}

p.title {
    text-align: center;
    font-family: "Arial";
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 5%;
    text-transform: uppercase
}

p.subtitle {
    text-align: center;
    font-family: "Arial";
    font-size: 13pt;
    font-weight: bold;
}

p.titleig {
    text-align: center;
    font-family: "Arial";
    font-size: 11pt;
    font-weight: bold;
}

p.paragraph {
    font-family: "Arial";
    font-size: 12pt;
    text-align: justify;
    text-justify: inter-word;
}

.firm {
    padding: 0px;
    width: 250px;
    border-top: solid;
    border-width: 1px;
}

upp {
    text-transform: uppercase
}

uppb {
    text-transform: uppercase;
    font-weight: bold;
}

.underline {
    border-bottom: 1px solid #000 !important;
}

.tinforme th {
    background-color: #1F3A93;
    color: #FFF
}

.tinforme,
.tinforme th,
.tinforme tr td {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-family: "Calibri";
    font-size: 10pt;
}

.firmas,
.firmas th,
.firmas tr td {
    text-align: center;
    vertical-align: middle;
}

.theader {
    text-align: left !important;
    border: 1px solid #FFF !important;
    width: 60% !important;
    font-family: "Calibri";
    font-size: 10pt;
}

.space {
    width: 50%;
}